body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {
        &.active {
          color:#00bfff;
        }
      }
    }
  }
}
